<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 
 	<!-- oracle null 처리, mybatis-config 파일은 태그의 순서를 지키면서 처리해야 오류가 안난다.   -->
 	<!-- https://chemeez.tistory.com/106 글 참조 -->
	<settings>
 		<setting name="cacheEnabled" value="true"/>
 		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
 	<typeAliases>
 		<typeAlias type="com.cafeHi.www.member.dto.MemberDTO" alias="Member"/>
 		<typeAlias type="com.cafeHi.www.membership.dto.myMembershipDTO" alias="myMembership"/>
 		<typeAlias type="com.cafeHi.www.membership.dto.MembershipDTO" alias="Membership"/> 		
 		<typeAlias type="com.cafeHi.www.board.qna.dto.QnADTO" alias="QnA"/>
 		<typeAlias type="com.cafeHi.www.admin.dto.adminDTO" alias="Admin"/>
 		<typeAlias type="com.cafeHi.www.member.dto.AuthDTO" alias="Auth"/>
 		<typeAlias type="com.cafeHi.www.common.dto.CategoryDTO" alias="Category"/>
 		<typeAlias type="com.cafeHi.www.common.dto.SubCategoryDTO" alias="SubCategory"/>
 		<typeAlias type="com.cafeHi.www.menu.dto.MenuDTO" alias="Menu"/>
 		<typeAlias type="com.cafeHi.www.cart.dto.CartDTO" alias="Cart"/>
 	</typeAliases>

	 
	
	
 	<mappers>
 		<mapper resource="mappings/member-mappings.xml"/>
 		<mapper resource="mappings/membership-mappings.xml"/>
 		<mapper resource="mappings/qna-mappings.xml"/>
 		<mapper resource="mappings/admin-mappings.xml"/>
 		<mapper resource="mappings/menu-mappings.xml"/>
 		<mapper resource="mappings/cart-mappings.xml"/> 		
 	</mappers>
 	
 </configuration>
 
 
 
